@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$primary: #1e3777;
$secondary: #f5f5f5;
$tertiary: #d9d9d9 ;
$accents: #f00;

    @mixin flex($space, $gap, $wrap){
     display: flex;
     justify-content: center;
     align-items: center;
     justify-content: $space;
     gap: $gap;
     flex-wrap: $wrap;
    }

    *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Inter', sans-serif;
	 /*outline: 1px dashed red;*/ /* to be deleted, design purposes only*/
    }
	
	body{
	 background: $secondary;
	}
	
	.header{
	  width: 100%;
	  
	   .header__nav{
         padding: 0 60px;
         width: 100%;
         height: 140px;
         background: rgba(0, 0, 0, 0.28);
         @include flex(space-between, 0, nowrap);
		 
		    & a{
		     text-decoration: none;
			 color: #fff;
		    } 
        }
 
        .header__logo{
         font-weight: 700;
         font-size: 48px;
         line-height: 58px;
         @include flex(initial, 0, nowrap);
         color: #fff;
        }
 
        .header__logo--red{
         color: $accents;
        }
 
        .header__list{
          position: relative;
         @include flex(initial, 23px, wrap);
         color: #fff;
         list-style: none;
		 margin-right: 50px;
        }
 
        .header__item{
  
        }  
 
        .header__contact{
         text-align: center;
         width: 200px;
         color: #fff;
        }
 
	}
	
    .landing{
       width: 100%;
	   height: 100vh;
    
        .landing__back-block{
         position: absolute;
		 z-index: -1;
         top: 0;
         background: $primary;
         width: 100%;
         height: 1024px;
         border-radius: 0px 0px 600px 600px;
        } 
 
        
        .landing__text{
         position: relative;
         top: 30px;
         font-style: normal;
         font-weight: 600;
         font-size: 48px;
         line-height: 58px;
         text-align: center;
         color: #fff;
        }
 
        .landing__contact-link{
         @include flex( center, 0, nowrap);
         margin: 100px auto;
         width: 358px;
         height: 82px;
         background: $accents;
         border-radius: 50px;
         transition: all 0.9s ease-in-out;
		 cursor: pointer;
            &:hover{
             background: #fff;
	
	            & a{
	             color: $accents;
	            }
            }
  
            a{
             text-decoration: none;
             color: #fff;
             font-style: normal;
             font-weight: 800;
             font-size: 32px;
             line-height: 39px;
             transition: all 0.5s linear;
            }
        }
 
        .landing__card-container{
         @include flex(space-between, 30px, wrap);
         justify-content: center;
         padding: 0 30px;
         margin-top: 20px;
  
            .landing__card{
             padding: 80px 40px;
             width: 608px;
             height: 368px;
             background: #d9d9d9;
             border-radius: 10px;
             display: flex;
             flex-direction: column;
             gap: 30px;
  
 
               .landing__card-text{
                 font-style: normal;
                 font-weight: 800;
                 font-size: 32px;
                 line-height: 39px;
                  color: #000;
                }
            }
 
            .landing__card--transparent{
             background: rgba(217, 217, 217, 0.29);
             border: 1px solid $accents;
             gap: 100px;
   
                .landing__transaction{
                 font-style: normal;
                 font-weight: 800;
                 font-size: 32px;
                 line-height: 39px;
                  color: #fff;
                }
	 
                .landing__money{
                 padding: 10px 10px 10px 30px;
                 width: 500px;
                 height: 75px;
                 border: 1px solid $accents;
                 margin-left: 20px;
	
	                .landing__currency{
	                 margin-left: 120px;
	                 padding-left: 10px;
	 
	                    &::before{
	                     content: "";
	                     width: 41px;
                         height: 10px;
                         border: 1px solid #000;
	                     margin-right: 10px;
	                    }
	                }
                }
   
            }
        } 
 
    
	}
	.main{
	 width: 100%;
	 height: 100vh;
	 margin-top: 30%;
	 background: $secondary;
	 
	    .main__text{
	     text-align: center;
		 font-style: normal;
         font-weight: 300;
         font-size: 36px;
         line-height: 44px;
         color: #000;
		} 
		
		.main__container{
		 @include flex(initial, 40px, wrap);
		 margin-top: 40px;
		 height: auto;
		 padding-left: 60px;
	
		    .main__card{
		     width: 281px;
             height: 256px;
             background: #fff;
             border-radius: 16px;
			 
			    .main__card-image{
				 display: block;
				 margin: 14px auto;
			    }
				
				.main__card-image--slip{
				  width: 72px;
                  height: 72px;
				  margin-top: 40px;
				}
				
				.main__card-text{
				 text-align: center;
				 margin-top: 30px;
                 font-style: normal;
                 font-weight: 300;
                 font-size: 20px;
                 line-height: 24px;
                 color: #676767;
				}
				
				.main__card-text--slip{
				 margin-top: 50px;
				}
				
				.main__card-image--groceries{
				 width: 87px;
                 height: 87px;
				 margin-top: 30px;
				}
				
				.main__card-text--groceries{
				 margin-top: 44px;
				}
				
				.main__card-text--payments{
				 margin-top: 40px;
				}
		    }
		}
	}
	
	.comments{
	 margin-top: 100px;
	 width:100%;
	 position: relative;
	 
	    .fa-solid{
	      position: absolute;
		 font-size: 60px;
		 color: #00000055;
		 top: 15%;
		 cursor: pointer;
	    }
	
        .fa-caret-left{
		 left: 240px;
		 animation: left 1s infinite ease-in-out;
		}
		
		.fa-caret-right{
		 right: 250px;
		 animation: right 1s infinite ease-in-out;
		}
		
	    @keyframes right{
		 0%{
		  transform: translateX(0);
		 }
		 50%{
		  transform: translateX(4px);
		 }
		 100%{
		 transform: translateX(0);
		 }
		}
		
		@keyframes left{
		 0%{
		  transform: translateX(0);
		 }
		 50%{
		  transform: translateX(-4px);
		 }
		 100%{
		 transform: translateX(0);
		 }
		}
		
		.comments__nav-dots{
		 margin: 0 auto;
	     width: 500px;
		 text-align: center;
         cursor: pointer;
		    & :first-child{
		     color: #000;
		   }
			.fa-circle{
		     position: initial;
		     font-size: 10px;
		    }
		}
		
	    .comments__container{
		 position: relative;
		 width: 760px;
		 height: 200px;
		 margin: 0 auto;
		 overflow: hidden;
		 display: flex;
		   
		    
		  .comments__box{
		     width: 800px;
             height: 100%;
			 padding: 20px;
			 white-space: nowrap;
			 
			 
			    .comments__box-text{
				 font-style: normal;
				 font-weight: 300;
				 font-size: 24px;
				 line-height: 29px;
				 letter-spacing: 0.105em;
				 color: #000;
 
	     
		        }
				
				.comments__user{
				 margin-top: 30px;
				}
		    }
		}
	 
		.stats{
		 margin-top: 50px;
		 @include flex(center, 100px, nowrap);
		 
		    .stats__number{
			 font-style: normal;
			 font-weight: 700;
			 font-size: 48px;
			 line-height: 58px;
			 color: #000;
		    }
			
			.stats__text{
			 font-style: normal;
		     font-weight: 300;
		     font-size: 20px;
			 line-height: 24px;
             color: #000;
			}
		}
		
		
	}
	
	.footer{
	 width: 100%;
	 height: 380px;
	 margin-top: 200px;
     background: rgba(30, 55, 119, 0.65);
	 @include flex(center, 250px, nowrap);
	 
	    & a{
		 text-decoration: none;
		 color: #fff;
		 font-style: normal;
		 font-weight: 300;
		 font-size: 10px;
		 line-height: 10px;
		}
		
		& i{
		 color: #fff;
		 font-size: 14px;
		 display: block;
		 margin-top: 20px;
		}
	   
	    .footer__heading{
		 font-style: normal;
		 font-weight: 300;
		 font-size: 20px;
	     line-height: 24px;
         color: #000;
		}
	 
	    .footer__links{
		 margin-top: 30px;
		    
			& a{
		     display: block;
		     margin-top: 20px;
		    }
		}
		
		.footer__help a{
		 display: block;
		 margin-top: 20px;
		  
		}
		
    }